h1 {
    text-align: center;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.game-container {
    display: grid;
    justify-content: center;
    gap: 40px;
    grid-template-columns: 80px 80px 80px;
    width: 360px;
    height: 420px;
}

.square {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    cursor: pointer;
    color: white;
    box-shadow: 10px 5px 5px black;
    font-size: 90px;
    text-align: center;
}

.restart {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 50px;
}

.button, .reset-button {
  color: #fff;
  padding: 15px 25px;
  border-radius: 100px;
  background-color: #4C43CD;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
  border: 0;
  margin-left: 15px;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;

}

.winner {
    display: hidden;
}

.winline {
    position: absolute;
    background-color: red;
    border-radius: 25px;
}

#winline-0 {
    margin-top: 74px;
    top: calc(100px / 2);
    left: 51.5%;
    transform: translateX(-50%);
    width: calc(3 * 80px + 2 * 51px);
    height: 10px; 
}

#winline-1 {
    margin-top: 227px;
    top: calc(100px / 2);
    left: 51.5%;
    transform: translateX(-50%);
    width: calc(3 * 80px + 2 * 51px);
    height: 10px; 
}

#winline-2 {
    margin-top: 380px;
    top: calc(100px / 2);
    left: 51.5%;
    transform: translateX(-50%);
    width: calc(3 * 80px + 2 * 51px);
    height: 10px; 
}

#winline-3 {
    margin-top: 1px;
    transform: translateX(-50%);
    margin-left: 70px;
    width: 8px;
    height: 406px;
}

#winline-4 {
    margin-top: 1px;
    transform: translateX(-50%);
    margin-left: 190px;
    width: 8px;
    height: 406px;
}

#winline-5 {
    margin-top: 1px;
    transform: translateX(-50%);
    margin-left: 310px;
    width: 8px;
    height: 406px;
}

#winline-6 {
    top: 5%;
    transform: translateX(-50%) rotate(-38deg);
    transform-origin: top-right;
    width: 8px;
    height: 510px;
    margin-left: 188px;
}

#winline-7 {
    top: 5%;
    transform: translateX(-50%) rotate(38deg);
    transform-origin: top-right;
    width: 8px;
    height: 510px;
    margin-left: 188px;
}